<%
    let currentResearch = 'none';

    if (currentPlayer.researchCurrent != null) {
        currentResearch = technologyList[currentPlayer.researchCurrent].name;
    }
%>

Current research:
<ul>
    <li> <%= currentResearch %> </li>
</ul>

<p>
    Choose research:
</p>
<ul>
    <% technologyList.filter(tech => tech.isAvailable).forEach(tech => { %>
        <li>
            <a href="/chooseResearch/<%= tech.index %>"><%= tech.name %></a>
        </li>
    <% }); %>
</ul>

<p>
    Blocked technologies:
</p>
<ul>
    <% technologyList.filter(tech => tech.isBlocked).forEach(tech => { %>
        <li>
            <%= tech.name %>
        </li>
    <% }); %>
</ul>

<p>
    Finished technologies:
</p>
<ul>
    <% technologyList.filter(tech => tech.isFinished).forEach(tech => { %>
        <li>
            <%= tech.name %>
        </li>
    <% }); %>
</ul>
