<%
    const getTurns = (tech) => {
        const totalCost = tech.scienceCost,
              progress = currentPlayer.researchProgress[tech.index] || 0,
              perTurn = currentPlayer.production.science;
        return Math.ceil((totalCost - progress) / perTurn);
    }

    const currentTech = currentPlayer.researchCurrent == null ? null
        : technologyList[currentPlayer.researchCurrent];
%>

Current research:
<ul>
    <li>
        <% if (currentTech) { %>
            <%= currentTech.name %>
            (<%= getTurns(currentTech) %> turns)
        <% } else { %>
            none
        <% } %>
    </li>
</ul>

<p>
    Choose research:
</p>
<ul>
    <% technologyList.filter(tech => tech.isAvailable).forEach(tech => { %>
        <li>
            <a href="/chooseResearch/<%= tech.index %>"><%= tech.name %></a>
            (<%= getTurns(tech) %> turns)
        </li>
    <% }); %>
</ul>

<p>
    Blocked technologies:
</p>
<ul>
    <% technologyList.filter(tech => tech.isBlocked).forEach(tech => { %>
        <li>
            <%= tech.name %>
        </li>
    <% }); %>
</ul>

<p>
    Finished technologies:
</p>
<ul>
    <% technologyList.filter(tech => tech.isFinished).forEach(tech => { %>
        <li>
            <%= tech.name %>
        </li>
    <% }); %>
</ul>
