<%
    let currentTurnPlayerId = '' + players[game.nextPlayer]._id;

    let currentTurnUnits = units.filter(unit => {
        return unit.player == currentTurnPlayerId;
    });

    let rivalUnits = units.filter(unit => {
        return unit.player != currentTurnPlayerId;
    });

    let activeUnit = currentTurnUnits.filter(unit => {
        return unit.movesRemaining > 0;
    })[0];

    let map = [];

    for (let i = 0; i < game.mapSize[0]; i++) {
        map[i] = [];
        for (let j = 0; j < game.mapSize[1]; j++) {
            map[i][j] = {
                city: false,
                unit: false,
                moves: [],
                lit: false,
                discovered: false,
                player: null,
                owned: false,
            };
        }
    }

    let playerNums = {};
    players.forEach((player, i) => {
        playerNums[player._id] = i;
    });

    cities.forEach(city => {
        map[city.location[0]][city.location[1]].city = true;
    });

    tiles.forEach(tile => {
        map[tile.row] = map[tile.row] || [];
        map[tile.row][tile.column].tile = tile;

        if (tile.owner) {
            map[tile.row][tile.column].player = playerNums[tile.owner] + 1;
            if (tile.owner == currentTurnPlayerId) {
                map[tile.row][tile.column].owned = true;

                for (let i = tile.row - 1; i <= tile.row + 1; i++) {
                    for (let j = tile.column - 1; j <= tile.column + 1; j++) {
                        if (map[i] && map[i][j]) {
                            map[i][j].lit = true;
                        }
                    }
                }
            }
        }

        if (tile.discovered.indexOf(currentTurnPlayerId) >= 0) {
            map[tile.row][tile.column].discovered = true;
        }
    });

    currentTurnUnits.forEach(unit => {
        let [i, j] = unit.location;
        map[i][j].unit = true;
        map[i][j].unitId = unit._id;

        for (i1 = i - 1; i1 <= i + 1; i1++) {
            if (i1 < 0) {
                continue;
            }
            if (i1 == game.mapSize[0]) {
                break;
            }
            for (j2 = j - 1; j2 <= j + 1; j2++) {
                let j1 = j2;
                if (j1 < 0) {
                    j1 = game.mapSize[1] - 1;
                }
                if (j1 == game.mapSize[1]) {
                    j1 = 0;
                }
                map[i1][j1].lit = true;

                if (unit.movesRemaining == 0) {
                    continue;
                }

                if ((i1 === i || j1 === j) && (i1 != i || j1 != j)) {
                    map[i1][j1].moves.push({
                        unitId: unit._id,
                        path: '/moveUnit/' + unit._id + '/' + i1 + '/' + j1,
                    });
                }
            }
        }
    });

    rivalUnits.forEach(unit => {
        let [i, j] = unit.location;
        map[i][j].rivalUnit = true;
        map[i][j].unitId = unit._id;
    });
%>

<!DOCTYPE html>
<html>
<head>
    <title>Civilization</title>

    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="/stylesheets/map.css"/>

    <script src="/vendor/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/main.js"></script>
</head>
<body>
    <h1>Civilization</h1>

    <p>
        Current game = <%= game.name %>
        (<a href="/exitGame">load different game</a>)
    </p>

    <p>
        Turn number = <%= game.turn %>
    </p>

    <p>
        <b>Players:</b>
    </p>

    <ul>
        <% players.forEach((player, i) => { %>
            <li>
                <%= player.name %>
                <% if (game.nextPlayer === i) { %>
                    (TURN)
                <% }%>
            </li>
        <% }); %>
    </ul>

    <form action="/endTurn" method="POST">
        <button type="submit">end turn for <%= players[game.nextPlayer].name %></button>
    </form>

    <h2>Map</h2>

    <table>
        <% map.forEach(row => { %>
            <tr>
                <% row.forEach(cell => { %>
                    <%
                        let className = 'map-cell';
                        if (cell.player) {
                            className += ' player' + cell.player;
                        }
                        if (cell.lit || cell.owned) {
                            className += ' lit';
                        } else if (cell.discovered) {
                            className += ' discovered';
                        } else {
                            className += ' dark';
                        }
                    %>
                    <td class="<%= className %>">
                        <% if (cell.city) { %>
                            &#9733;
                        <% } %>
                        <% if (cell.unit) { %>
                            <span class="unit turn" unit-id="<%= cell.unitId %>">**</span>
                        <% } else if (cell.rivalUnit) { %>
                            <span class="unit rival" unit-id="<%= cell.unitId %>">*</span>
                        <% } else { %>
                            <% cell.moves.forEach(move => { %>
                                <form action="<%= move.path %>" method="post" class="move-unit"
                                    unit-id="<%= move.unitId %>">
                                    <button type="submit"> </button>
                                </form>
                            <% }); %>
                        <% } %>
                    </td>
                <% }); %>
            </tr>
        <% }); %>
    </table>

    <% currentTurnUnits.forEach(unit => { %>
        <%
            let type = unit.unitType.name;
            let disableButton = unit.movesRemaining == 0 ? 'disabled="true"' : '';
            let foundCity = type == 'settler';
        %>
        <div class="infobox" unit-id="<%= unit._id %>">
            <div class="close">X</div>
            <div>
                <b>type:</b>
                <%= unit.unitType.name %>
            </div>
            <div>
                <b>moves:</b>
                <%= unit.movesRemaining %>
            </div>
            <div>
                <b>actions:</b>
                <% if (foundCity) { %>
                    <form action="/foundCity/<%= unit._id %>" method="post">
                        <button <%= disableButton %>>found city</button>
                    </form>
                <% } %>
            </div>
        </div>
    <% }); %>

    <h3>Units:</h3>

    <table border="1">
        <tr>
            <th>player</th>
            <th>unit type</th>
            <th>location</th>
            <th>click to activate</th>
            <th>moves remaining</th>
        </tr>
        <% players.forEach(player => { %>
            <% units.forEach((unit, i) => { %>
                <% if (unit.player == '' + player._id) { %>
                    <tr>
                        <td>
                            <%= player.name %>
                        </td>
                        <td>
                            <%= unit.unitType.name %>
                        </td>
                        <td>
                            <%= unit.location %>
                        </td>
                        <td>
                            <% if (player._id == currentTurnPlayerId) { %>
                                <span onClick="setActiveUnit('<%= unit._id %>')">activate</span>
                            <% } %>
                        </td>
                        <td>
                            <%= unit.movesRemaining %>
                        </td>
                    </tr>
                <% } %>
            <% }); %>
        <% }); %>
    </table>

<script>
    function setActiveUnit(id) {
        $('.unit').removeClass('active');
        $('.unit[unit-id="' + id + '"]').addClass('active');
        $('form.move-unit').hide();
        $('form.move-unit[unit-id="' + id + '"]').show();

        $('.infobox').hide();
        $('.infobox[unit-id="' + id + '"]').show();
    }

    setActiveUnit('<%= activeUnit ? activeUnit._id : null %>');

    $('.unit.turn').toArray().forEach(unit => {
        let $unit = $(unit);
        $unit.click(() => {
            setActiveUnit($unit.attr('unit-id'));
        });
    });

    $('.infobox .close').click(() => {
        setActiveUnit(null);
    });
</script>
</body>
</html>
