<!DOCTYPE html>
<html>
<head>
    <title>Civilization</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
    <h1>Civilization</h1>

    <p>
        Current game = <%= game.name %>
        (<a href="/exitGame">load different game</a>)
    </p>

    <p>
        Turn number = <%= game.turn %>
    </p>

    <p>
        <b>Players:</b>
    </p>

    <ul>
        <% players.forEach((player, i) => { %>
            <li>
                <%= player.name %>
                <% if (game.nextPlayer === i) { %>
                    (TURN)
                <% }%>
            </li>
        <% }); %>
    </ul>

    <form action="/endTurn" method="POST">
        <button type="submit">end turn for <%= players[game.nextPlayer].name %></button>
    </form>

    <h2>Map</h2>

    <%
        let map = [];
        for (let i = 0; i < 10; i++) {
            map[i] = [];
            for (let j = 0; j < 10; j++) {
                map[i][j] = {
                    unit: false,
                };
            }
        }

        units.forEach(unit => {
            let [i, j] = unit.location;
            map[i][j].unit = true;

            for (i1 = i - 1; i1 <= i + 1; i1++) {
                if (i1 < 0) {
                    continue;
                }
                if (i1 >= 10) {
                    break;
                }
                for (j1 = j - 1; j1 <= j + 1; j1++) {
                    if (j1 < 0) {
                        continue;
                    }
                    if (j1 >= 10) {
                        break;
                    }
                    map[i1][j1].lit = true;
                }
            }
        });
    %>

    <table>
        <% map.forEach(row => { %>
            <tr>
                <% row.forEach(cell => { %>
                    <%
                        let className = 'map-cell';
                        if (cell.lit) {
                            className += ' lit';
                        }
                    %>
                    <td class="<%= className %>">
                        <% if (cell.unit) { %>
                            *
                        <% } %>
                    </td>
                <% }); %>
            </tr>
        <% }); %>
    </table>

    <p>
        <b>Units:</b>
    </p>

    <ul>
        <% units.forEach((unit, i) => { %>
            <li>
                <%= unit.location %>
            </li>
        <% }); %>
    </ul>
</body>
</html>
