<!DOCTYPE html>
<html>
<head>
    <title>Civilization</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
    <h1>Civilization</h1>

    <p>
        Current game = <%= game.name %>
        (<a href="/exitGame">load different game</a>)
    </p>

    <p>
        Turn number = <%= game.turn %>
    </p>

    <p>
        <b>Players:</b>
    </p>

    <ul>
        <% players.forEach((player, i) => { %>
            <li>
                <%= player.name %>
                <% if (game.nextPlayer === i) { %>
                    (TURN)
                <% }%>
            </li>
        <% }); %>
    </ul>

    <form action="/endTurn" method="POST">
        <button type="submit">end turn for <%= players[game.nextPlayer].name %></button>
    </form>

    <h2>Map</h2>

    <table border="1">
        <% for (let i = 0; i < 10; i++) { %>
            <tr>
                <% for (let j = 0; j < 10; j++) { %>
                    <td style="width: 20px; height: 20px;">
                        <% units.forEach(unit => { %>
                            <% if (unit.location[0] === i && unit.location[1] === j) { %>
                                *
                            <% } %>
                        <% }); %>
                    </td>
                <% } %>
            </tr>
        <% } %>
    </table>

    <p>
        <b>Units:</b>
    </p>

    <ul>
        <% units.forEach((unit, i) => { %>
            <li>
                <%= unit.location %>
            </li>
        <% }); %>
    </ul>
</body>
</html>
