<!DOCTYPE html>
<html>
<head>
    <title>Civilization</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
    <h1>Civilization</h1>

    <p>
        Current game = <%= game.name %>
        (<a href="/exitGame">load different game</a>)
    </p>

    <p>
        Turn number = <%= game.turn %>
    </p>

    <p>
        <b>Players:</b>
    </p>

    <ul>
        <% players.forEach((player, i) => { %>
            <li>
                <%= player.name %>
                <% if (game.nextPlayer === i) { %>
                    (TURN)
                <% }%>
            </li>
        <% }); %>
    </ul>

    <form action="/endTurn" method="POST">
        <button type="submit">end turn for <%= players[game.nextPlayer].name %></button>
    </form>

    <h2>Map</h2>

    <%
        let map = [];
        for (let i = 0; i < 10; i++) {
            map[i] = [];
            for (let j = 0; j < 10; j++) {
                map[i][j] = {
                    unit: false,
                };
            }
        }

        units.forEach(unit => {
            map[unit.location[0]][unit.location[1]].unit = true;
        });
    %>

    <table border="1">
        <% map.forEach(row => { %>
            <tr>
                <% row.forEach(cell => { %>
                    <%
                        let className = 'map-cell';
                    %>
                    <td class="<%= className %>">
                        <% if (cell.unit) { %>
                            *
                        <% } %>
                    </td>
                <% }); %>
            </tr>
        <% }); %>
    </table>

    <p>
        <b>Units:</b>
    </p>

    <ul>
        <% units.forEach((unit, i) => { %>
            <li>
                <%= unit.location %>
            </li>
        <% }); %>
    </ul>
</body>
</html>
