<%
    let currentTurnPlayerId = '' + players[game.nextPlayer]._id;

    let currentTurnUnits = units.filter(unit => {
        return unit.player == currentTurnPlayerId;
    });

    let rivalUnits = units.filter(unit => {
        return unit.player != currentTurnPlayerId;
    });

    let activeUnit = currentTurnUnits.filter(unit => {
        return unit.movesRemaining > 0;
    })[0];

    let map = [];

    for (let i = 0; i < 10; i++) {
        map[i] = [];
        for (let j = 0; j < 10; j++) {
            map[i][j] = {
                unit: false,
                moves: [],
                lit: false,
                discovered: false,
            };
        }
    }

    tiles.forEach(tile => {
        map[tile.row] = map[tile.row] || [];
        map[tile.row][tile.column].tile = tile;

        if (tile.discovered.indexOf(currentTurnPlayerId) >= 0) {
            map[tile.row][tile.column].discovered = true;
        }
    });

    currentTurnUnits.forEach(unit => {
        let [i, j] = unit.location;
        map[i][j].unit = true;
        map[i][j].unitId = unit._id;

        for (i1 = i - 1; i1 <= i + 1; i1++) {
            if (i1 < 0) {
                continue;
            }
            if (i1 == 10) {
                break;
            }
            for (j2 = j - 1; j2 <= j + 1; j2++) {
                let j1 = j2;
                if (j1 < 0) {
                    j1 = 9;
                }
                if (j1 == 10) {
                    j1 = 0;
                }
                map[i1][j1].lit = true;

                if ((i1 === i || j1 === j) && (i1 != i || j1 != j)) {
                    map[i1][j1].moves.push({
                        unitId: unit._id,
                        path: '/moveUnit/' + unit._id + '/' + i1 + '/' + j1,
                    });
                }
            }
        }
    });

    rivalUnits.forEach(unit => {
        let [i, j] = unit.location;
        map[i][j].rivalUnit = true;
        map[i][j].unitId = unit._id;
    });
%>

<!DOCTYPE html>
<html>
<head>
    <title>Civilization</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <script src="/vendor/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <script>
        let units = [];

        <% units.forEach(unit => { %>
            units['<%= unit._id %>'] = {
                name: '<%= unit.unitType.name %>',
            };
        <% }); %>
    </script>
</head>
<body>
    <h1>Civilization</h1>

    <p>
        Current game = <%= game.name %>
        (<a href="/exitGame">load different game</a>)
    </p>

    <p>
        Turn number = <%= game.turn %>
    </p>

    <p>
        <b>Players:</b>
    </p>

    <ul>
        <% players.forEach((player, i) => { %>
            <li>
                <%= player.name %>
                <% if (game.nextPlayer === i) { %>
                    (TURN)
                <% }%>
            </li>
        <% }); %>
    </ul>

    <form action="/endTurn" method="POST">
        <button type="submit">end turn for <%= players[game.nextPlayer].name %></button>
    </form>

    <h2>Map</h2>

    <table>
        <% map.forEach(row => { %>
            <tr>
                <% row.forEach(cell => { %>
                    <%
                        let className = 'map-cell';
                        if (cell.lit) {
                            className += ' lit';
                        } else if (cell.discovered) {
                            className += ' discovered';
                        } else {
                            className += ' dark';
                        }
                    %>
                    <td class="<%= className %>">
                        <% if (cell.unit) { %>
                            <span class="unit turn" unit-id="<%= cell.unitId %>">**</span>
                        <% } else if (cell.rivalUnit) { %>
                            <span class="unit rival" unit-id="<%= cell.unitId %>">*</span>
                        <% } else { %>
                            <% cell.moves.forEach(move => { %>
                                <form action="<%= move.path %>" method="post" class="move-unit"
                                    unit-id="<%= move.unitId %>">
                                    <button type="submit"> </button>
                                </form>
                            <% }); %>
                        <% } %>
                    </td>
                <% }); %>
            </tr>
        <% }); %>
    </table>

    <div id="selected-unit" style="border: 1px solid black">
        <div class="close">X</div>
        <div class="type">
            <b>type:</b>
            <span></span>
        </div>
    </div>

    <h3>Units:</h3>

    <table border="1">
        <tr>
            <th>player</th>
            <th>unit type</th>
            <th>location</th>
            <th>click to activate</th>
            <th>moves remaining</th>
        </tr>
        <% players.forEach(player => { %>
            <% units.forEach((unit, i) => { %>
                <% if (unit.player == '' + player._id) { %>
                    <tr>
                        <td>
                            <%= player.name %>
                        </td>
                        <td>
                            <%= unit.unitType.name %>
                        </td>
                        <td>
                            <%= unit.location %>
                        </td>
                        <td>
                            <% if (player._id == currentTurnPlayerId) { %>
                                <span onClick="setActiveUnit('<%= unit._id %>')">activate</span>
                            <% } %>
                        </td>
                        <td>
                            <%= unit.movesRemaining %>
                        </td>
                    </tr>
                <% } %>
            <% }); %>
        <% }); %>
    </table>

<script>
    function setActiveUnit(id) {
        $('.unit').removeClass('active');
        $('.unit[unit-id="' + id + '"]').addClass('active');
        $('form.move-unit').hide();
        $('form.move-unit[unit-id="' + id + '"]').show();

        if (id && id != null) {
            $('#selected-unit').show();
            $('#selected-unit .type span').text(units[id].name);
        } else {
            $('#selected-unit').hide();
        }
    }

    setActiveUnit('<%= activeUnit ? activeUnit._id : null %>');

    $('.unit.turn').toArray().forEach(unit => {
        let $unit = $(unit);
        $unit.click(() => {
            setActiveUnit($unit.attr('unit-id'));
        });
    });

    $('#selected-unit .close').click(() => {
        setActiveUnit(null);
    });
</script>
</body>
</html>
