<%
    const growthRate = [0, 15, 22, 30, 40, 51, 63, 76, 90, 105, 121, 138, 155, 174, 194, 214, 235,
        258, 280, 304, 329, 354, 380, 407, 435, 464, 493, 523, 554, 585, 617, 650, 684, 719, 754,
        790, 826, 863, 901, 940, 979];

    let foodNeededForGrowth = growthRate[city.population];

    let foodSurplusPerTurn = city.production.food - (city.population * 2);

    let tilesWorked = tiles.filter(tile => {
        return '' + tile.worked == '' + city._id;
    });

    let growthTurns = 0;

    if (foodSurplusPerTurn > 0) {
        growthTurns = Math.ceil((foodNeededForGrowth - city.storage.food) / foodSurplusPerTurn);
    }
%>

<div class="city-screen" city-id="<%= city._id %>">
    <div class="close">X</div>
    <div class="section">
        city
    </div>
    <div class="section">
        population: <%= city.population %><br/>
        (<%= city.storage.food %> / <%= foodNeededForGrowth %>)<br/>
        <% if (growthTurns) { %>
            <%= growthTurns %> turns
        <% } else { %>
            no growth
        <% } %>
    </div>
    <div class="section">
        <h3>Production:</h3>
        gold: <%= city.production.gold %><br/>
        food: <%= city.production.food %> (<%= foodSurplusPerTurn %> surplus)<br/>
        labor: <%= city.production.labor %><br/>
    </div>
    <div class="section">
        Citizens:
        <ul>
            <li>
                <%= tilesWorked.length - 1 %> working
            </li>
            <li>
                <%= city.population - tilesWorked.length + 1 %> unemployed
            </li>
        </ul>
    </div>
    <div class="section">
        <%
            let currentProject = '_______';
            let laborTotal = 0;
            let progress = 0;
            let turnsToFinish = 0;
            let project = city.project.category;
            let extraGoldFromLabor = 0;

            if (project == 'unit' || project == 'building') {
                if (project == 'unit') {
                    currentProject = unitTypes[city.project.index].name;
                    laborTotal = unitTypes[city.project.index].cost;
                } else if (project == 'building') {
                    currentProject = buildingTypes[city.project.index].name;
                    laborTotal = buildingTypes[city.project.index].cost;
                }
                progress = city.projectProgress[city.project.category][city.project.index];
                progress += city.storage.labor;
                turnsToFinish = (laborTotal - progress) / city.production.labor;
                turnsToFinish = Math.ceil(turnsToFinish);
            } else if (project == 'gold') {
                currentProject = 'gold';
                extraGoldFromLabor = Math.floor(city.production.labor / 2);
            }
        %>
        current construction:
        <% if (project == 'gold') { %>
            gold <br/>
            (<%= extraGoldFromLabor %> per turn)
        <% } else { %>
            <%= currentProject %>
            <% if (laborTotal) { %>
                (<%= progress %> / <%= laborTotal %>)
                <br/>
                <%= turnsToFinish %> turns to finish
            <% } %>
        <% } %>
    </div>
    <div class="section">
        change construction:
        <ul>
            <% unitTypes.forEach((unitType, i) => { %>
                <%
                    if (city.population == 1 && unitType.name == 'settler') {
                        return;
                    }
                    let path = '/changeProject/' + city._id + '/unit/' + i;
                %>
                <li>
                    <a href="<%= path %>"><%= unitType.name %></a>
                </li>
            <% }); %>
            <% buildingTypes.forEach((buildingType, i) => { %>
                <%
                    if (city.buildings.indexOf(i) >= 0) {
                        return;
                    }
                    let path = '/changeProject/' + city._id + '/building/' + i;
                %>
                <li>
                    <a href="<%= path %>"><%= buildingType.name %></a>
                </li>
            <% }); %>
            <li>
                <a href="/changeProject/<%= city._id %>/gold/0">gold</a>
            </li>
        </ul>
    </div>
    <div>
        buildings:
        <% city.buildings.forEach(i => { %>
            <div class="city-building-list">
                <img src="/images/buildingIcons/<%= buildingTypes[i].name %>.png">
                <div>
                    <h3><%= buildingTypes[i].name %></h3>
                    <% if (buildingTypes[i].production.gold < 0) { %>
                        <%= buildingTypes[i].production.gold %> maintenance<br/>
                    <% } else if (buildingTypes[i].production.gold > 0) { %>
                        +<%= buildingTypes[i].production.gold %> gold<br/>
                    <% } %>
                    <% if (buildingTypes[i].production.food > 0) { %>
                        +<%= buildingTypes[i].production.food %> food<br/>
                    <% } %>
                    <% if (buildingTypes[i].production.labor > 0) { %>
                        +<%= buildingTypes[i].production.labor %> production<br/>
                    <% } %>
                </div>
            </div>
        <% }); %>
    </div>
</div>
