<%
    let cityGold = 0;
    let cityFood = 0;
    let cityProduction = 0;

    city.buildings.forEach(i => {
        cityGold += buildingTypes[i].gold;
        cityFood += buildingTypes[i].food;
        cityProduction += buildingTypes[i].production;
    });

    const growthRate = [0, 15, 22, 30, 40, 51, 63, 76, 90, 105, 121, 138, 155, 174, 194, 214, 235,
        258, 280, 304, 329, 354, 380, 407, 435, 464, 493, 523, 554, 585, 617, 650, 684, 719, 754,
        790, 826, 863, 901, 940, 979];

    let foodNeededForGrowth = growthRate[city.population];

    let foodSurplus = cityFood - (city.population * 2);

    let tilesWorked = tiles.filter(tile => {
        return tile.worked == city._id;
    });
%>

<div class="info city" city-id="<%= city._id %>">
    <div class="close">X</div>
    <div>city</div>
    <div>
        population: <%= city.population %><br/>
        (<%= city.food %> / <%= foodNeededForGrowth %>)<br/>
        <% if (foodSurplus == 0) { %>
            no growth
        <% } else { %>
            <%= Math.ceil((foodNeededForGrowth - city.food) / foodSurplus) %> turns
        <% } %>
    </div>
    <div>
        gold: <%= cityGold %><br/>
        food: <%= cityFood %> (<%= foodSurplus %> surplus)<br/>
        production: <%= cityProduction %><br/>
    </div>
    <div>
        Citizens:
        <ul>
            <li>
                <%= tilesWorked.length %> working
            </li>
            <li>
                <%= city.population - tilesWorked.length %> unemployed
            </li>
        </ul>
    </div>
    <div>
        buildings:
        <ul>
            <% city.buildings.forEach(i => { %>
                <li><%= buildingTypes[i].name %></li>
            <% }); %>
        </ul>
    </div>
    <div>
        <%
            let currentProject = '_______';
            let productionTotal = 0;
            let progress = 0;
            let turnsToFinish = 0;
            let project = city.project.category;

            if (project == 'unit' || project == 'building') {
                if (project == 'unit') {
                    currentProject = unitTypes[city.project.index].name;
                    productionTotal = unitTypes[city.project.index].cost;
                } else if (project == 'building') {
                    currentProject = buildingTypes[city.project.index].name;
                    productionTotal = buildingTypes[city.project.index].cost;
                }
                progress = city.projectProgress[city.project.category][city.project.index];
                progress += city.productionRollover;
                turnsToFinish = Math.ceil((productionTotal - progress) / cityProduction);
            } else if (project == 'gold') {
                currentProject = 'gold';
            }
        %>
        current construction:
        <% if (project == 'gold') { %>
            gold <br/>
            (<%= Math.floor(cityProduction/2) %> per turn)
        <% } else { %>
            <%= currentProject %>
            <% if (productionTotal) { %>
                (<%= progress %> / <%= productionTotal %>)
                <br/>
                <%= turnsToFinish %> turns to finish
            <% } %>
        <% } %>
    </div>
    <div>
        change construction:
        <ul>
            <% unitTypes.forEach((unitType, i) => { %>
                <%
                    if (city.population == 1 && unitType.name == 'settler') {
                        return;
                    }
                    let path = '/changeProject/' + city._id + '/unit/' + i;
                %>
                <li>
                    <a href="<%= path %>"><%= unitType.name %></a>
                </li>
            <% }); %>
            <% buildingTypes.forEach((buildingType, i) => { %>
                <%
                    if (city.buildings.indexOf(i) >= 0) {
                        return;
                    }
                    let path = '/changeProject/' + city._id + '/building/' + i;
                %>
                <li>
                    <a href="<%= path %>"><%= buildingType.name %></a>
                </li>
            <% }); %>
            <li>
                <a href="/changeProject/<%= city._id %>/gold/0">gold</a>
            </li>
        </ul>
    </div>
</div>
