<%
    let playerName = players[game.nextPlayer].name;

    let storage = {
        gold: players[game.nextPlayer].storage.gold,
        culture: players[game.nextPlayer].storage.culture
    };

    let production = {
        science: players[game.nextPlayer].production.science,
        gold: players[game.nextPlayer].production.gold,
        culture: players[game.nextPlayer].production.culture
    };
%>

<div>
    <div class="header-image">
        <img src="/images/science.png" class="production-icon">
    </div>

    <div class="header-text header-science">
        <%= (production.science < 0 ? '-' : '+') + production.science %>
    </div>

    <div class="header-image">
        <img src="/images/gold.png" class="production-icon">
    </div>

    <div class="header-text header-money">
        <%= storage.gold %>
        (<%= (production.gold < 0 ? '-' : '+') + production.gold %>)
    </div>

    <div class="header-image">
        <img src="/images/culture.png" class="production-icon">
    </div>

    <div class="header-text header-culture">
        <%= storage.culture %>
        (<%= (production.culture < 0 ? '-' : '+') + production.culture %>)
    </div>
</div>

<div>
    <div class="header-text">
        zoom (x<%= game.zoom %>)
    </div>

    <div class="header-text">
        <form action="/zoom/0" method="post">
            <% if (game.zoom == zoomLimit[0]) { %>
                <button disabled="disabled">-</button>
            <% } else { %>
                <button type="submit">-</button>
            <% } %>
        </form>
    </div>

    <div class="header-text">
        <form action="/zoom/1" method="post">
            <% if (game.zoom == zoomLimit[1]) { %>
                <button disabled="disabled">+</button>
            <% } else { %>
                <button type="submit">+</button>
            <% } %>
        </form>
    </div>
</div>

<div>
    <div class="header-text">
        <%= playerName %>
    </div>
    <div class="header-text">
        |
    </div>
    <div class="header-text">
        Turn: <%= game.turn %>
    </div>
    <div class="header-text">
        |
    </div>
    <div class="header-text">
        <a href="/exitGame">load different game</a>
    </div>
</div>
