<%
    let playerName = players[game.nextPlayer].name;
    let sciencePerTurn = players[game.nextPlayer].production.science;
    let currentGold = players[game.nextPlayer].storage.gold;
    let goldPerTurn = players[game.nextPlayer].production.gold;
    let currentCulture = players[game.nextPlayer].production.culture;
    let culturePerTurn = players[game.nextPlayer].storage.culture;
%>

<div>
    <div class="header-image">
        <img src="/images/science.png" class="production-icon">
    </div>

    <div class="header-text header-science">
        <%= (sciencePerTurn < 0 ? '-' : '+') + sciencePerTurn %>
    </div>

    <div class="header-image">
        <img src="/images/gold.png" class="production-icon">
    </div>

    <div class="header-text header-money">
        <%= currentGold %> (<%= (goldPerTurn < 0 ? '-' : '+') + goldPerTurn %>)
    </div>

    <div class="header-image">
        <img src="/images/culture.png" class="production-icon">
    </div>

    <div class="header-text header-culture">
        <%= currentCulture %> (<%= (culturePerTurn < 0 ? '-' : '+') + culturePerTurn %>)
    </div>
</div>

<div>
    <div class="header-text">
        <%= playerName %>
    </div>
    <div class="header-text">
        |
    </div>
    <div class="header-text">
        Turn: <%= game.turn %>
    </div>
    <div class="header-text">
        |
    </div>
    <div class="header-text">
        <a href="/exitGame">load different game</a>
    </div>
</div>
