<%
    const testing = {};

    const findTile = (row, column) => {
        return helpers.findTile(tiles, row, column);
    };

    const isCurrentTurnPlayer = (player) => {
        return '' + (player._id || player) == '' + turnPlayerId;
    };

    let [numRows, numCols] = game.mapSize;

    let currentTurnUnits = units.filter(unit => {
        return isCurrentTurnPlayer(unit.player);
    });

    let currentTurnCities = cities.filter(city => {
        return isCurrentTurnPlayer(city.player);
    });

    let rivalUnits = units.filter(unit => {
        return !(isCurrentTurnPlayer(unit.player));
    });

    let activeCity = null;

    let activeUnit = currentTurnUnits.filter(unit => {
        return unit.movesRemaining > 0 && unit.orders == null && !unit.automate;
    })[0];

    let map = [];

    let mapCenter = currentTurnUnits[0].location;

    let unitsById = [];

    units.forEach(unit => {
        unitsById[unit._id] = unit;
    });
%>

<% include ./variables %>
<% include ./getTileEdges %>

<!DOCTYPE html>
<html>
<head>
    <title>Civilization</title>

    <link rel="shortcut icon" href="/images/favicon.png">

    <link rel="stylesheet" href="/stylesheets/main.css"/>
    <link rel="stylesheet" href="/stylesheets/game.css"/>
    <link rel="stylesheet" href="/stylesheets/viewCity.css"/>
    <link rel="stylesheet" href="/stylesheets/menu.css"/>
    <link rel="stylesheet" href="/stylesheets/map.css"/>

    <script src="/vendor/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/game.js"></script>
</head>
<body>
    <div id="game-header">
        <% include ./header %>
    </div>

    <% include ./menu/menu %>

    <% currentTurnCities.forEach(city => { %>
        <% include ./viewCity %>
    <% }); %>

    <% currentTurnUnits.forEach(unit => { %>
        <% include ./viewUnit %>
    <% }); %>

    <% include ./nextAction %>

    <div id="tile-details"> </div>

    <% include ./map %>

    <script>
        let activeUnitOrCityId = null;

        let units = [];
        let cities = [];
        let tiles = [];

        <% for (let r = 0; r < map.length; r++) { %>
            tiles[<%= r %>] = [];
            <% for (let c = 0; c < map[r].length; c++) { %>
                <%
                    let features = [];
                    if (map[r][c].tile.terrain.water) {
                        features.push('water');
                    }
                    if (map[r][c].tile.terrain.ground) {
                        features.push(map[r][c].tile.terrain.ground);
                    }
                    if (map[r][c].tile.terrain.mountain) {
                        features.push('mountain');
                    }
                    if (map[r][c].tile.terrain.hill) {
                        features.push('hill');
                    }
                    if (map[r][c].tile.terrain.forest) {
                        features.push('forest');
                    }
                    if (map[r][c].tile.improvement) {
                        features.push(map[r][c].tile.improvement);
                    }
                    if (map[r][c].tile.road) {
                        features.push('road');
                    }
                %>
                tiles[<%= r %>].push({
                    food: <%= map[r][c].food %>,
                    gold: <%= map[r][c].gold %>,
                    labor: <%= map[r][c].labor %>,
                    unitsCities: [],
                    features: ['<%= features.join(', ') %>'],
                    city: false,
                    discovered: <%= map[r][c].discovered %>,
                });
            <% } %>
        <% } %>

        <% units.forEach(unit => { %>
            <% let [r, c] = unit.location; %>
            units['<%= unit._id %>'] = {
                name: '<%= unit.templateName %>',
                location: [<%= r %>, <%= c %>],
            };
            tiles[<%= r %>][<%= c %>].unitsCities.push('<%= unit._id %>');
        <% }); %>

        <% cities.forEach(city => { %>
            <% let [r, c] = city.location; %>
            cities['<%= city._id %>'] = {
                location: [<%= r %>, <%= c %>],
            };
            tiles[<%= r %>][<%= c %>].unitsCities.push('<%= city._id %>');
            tiles[<%= r %>][<%= c %>].features += ', city';
        <% }); %>

        let mapCenter = [<%= mapCenter[0] %>, <%= mapCenter[1] %>];
        let numRows = <%= numRows %>;
        let numCols = <%= numCols %>;

        setup();

        if (activeUnitOrCityId == null) {
            setActiveCity('<%= activeCity ? activeCity._id : null %>');
            setActiveUnit('<%= activeUnit ? activeUnit._id : null %>');
        }
    </script>
</body>
</html>
