<%
    const findTile = (row, column) => {
        return helpers.findTile(tiles, row, column);
    };

    const isCurrentTurnPlayer = (player) => {
        return '' + (player._id || player) == '' + turnPlayerId;
    };

    let currentTurnPlayerId = '' + players[game.nextPlayer]._id;

    let canEndTurnNow = true;

    let [numRows, numCols] = game.mapSize;

    let currentTurnUnits = units.filter(unit => {
        return isCurrentTurnPlayer(unit.player);
    });

    let currentTurnCities = cities.filter(city => {
        if (isCurrentTurnPlayer(city.player)) {
            if (city.project.category == null) {
                canEndTurnNow = false;
            }
            return true;
        }
        return false;
    });

    let rivalUnits = units.filter(unit => {
        return !(isCurrentTurnPlayer(unit.player));
    });

    let activeCity = null;

    let activeUnit = currentTurnUnits.filter(unit => {
        let unitNeedsOrders = unit.movesRemaining > 0 && unit.orders == null;
        if (unitNeedsOrders) {
            canEndTurnNow = false;
            return true;
        }
        return false;
    })[0];

    let map = [];

    let mapCenter = currentTurnUnits[0].location;

    let unitsById = [];

    units.forEach(unit => {
        unitsById[unit._id] = unit;
    });
%>

<% include ./variables %>
<% include ./setShadows %>

<!DOCTYPE html>
<html>
<head>
    <title>Civilization</title>

    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="/stylesheets/cityScreen.css"/>
    <link rel="stylesheet" href="/stylesheets/menu.css"/>
    <link rel="stylesheet" href="/stylesheets/map.css"/>

    <script src="/vendor/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/game.js"></script>
</head>
<body>
    <div id="game-header">
        <% include ./header %>
    </div>

    <div id="menu-link-container">
        <div class="menu-link menu-units" item="units"> units </div>
        <div class="menu-link menu-cities" item="cities"> cities </div>
        <div class="menu-link menu-research" item="research"> research </div>
    </div>

    <div class="menu menu-units">
        <% include ./menuUnits %>
    </div>

    <div class="menu menu-cities">
        <% include ./menuCities %>
    </div>

    <% currentTurnCities.forEach(city => { %>
        <% include ./viewCity %>
    <% }); %>

    <% currentTurnUnits.forEach(unit => { %>
        <% include ./viewUnit %>
    <% }); %>

    <div class="info">
        <form id="end-turn" action="/endTurn" method="POST">
            <% if (canEndTurnNow) { %>
                <button type="submit">end turn</button>
            <% } else { %>
                <button type="submit" disabled="true">end turn</button>
            <% } %>
        </form>
    </div>

    <div id="tile-details"> </div>

    <% include ./map %>

    <script>
        let rowRadius = 6;
        let colRadius = 10;

        let activeUnitOrCityId = null;

        let units = [];
        let cities = [];
        let tiles = [];

        <% for (let r = 0; r < map.length; r++) { %>
            tiles[<%= r %>] = [];
            <% for (let c = 0; c < map[r].length; c++) { %>
                <%
                    let features = [];
                    features.push(map[r][c].tile.terrain.ground);
                    if (map[r][c].tile.terrain.mountain) {
                        features.push('mountain');
                    }
                    if (map[r][c].tile.terrain.hill) {
                        features.push('hill');
                    }
                    if (map[r][c].tile.terrain.forest) {
                        features.push('forest');
                    }
                    if (map[r][c].tile.improvement) {
                        features.push(map[r][c].tile.improvement);
                    }
                    if (map[r][c].tile.road) {
                        features.push('road');
                    }
                %>
                tiles[<%= r %>].push({
                    food: <%= map[r][c].food %>,
                    gold: <%= map[r][c].gold %>,
                    labor: <%= map[r][c].labor %>,
                    unitsCities: [],
                    features: ['<%= features.join(', ') %>'],
                    city: false,
                    discovered: <%= map[r][c].discovered %>,
                });
            <% } %>
        <% } %>

        <% units.forEach(unit => { %>
            <% let [r, c] = unit.location; %>
            units['<%= unit._id %>'] = {
                name: '<%= unit.unitType.name %>',
                location: [<%= r %>, <%= c %>],
            };
            tiles[<%= r %>][<%= c %>].unitsCities.push('<%= unit._id %>');
        <% }); %>

        <% cities.forEach(city => { %>
            <% let [r, c] = city.location; %>
            cities['<%= city._id %>'] = {
                location: [<%= r %>, <%= c %>],
            };
            tiles[<%= r %>][<%= c %>].unitsCities.push('<%= city._id %>');
            tiles[<%= r %>][<%= c %>].features += ', city';
        <% }); %>

        let mapCenter = [<%= mapCenter[0] %>, <%= mapCenter[1] %>];
        let numRows = <%= numRows %>;
        let numCols = <%= numCols %>;

        setup();

        setActiveCity('<%= activeCity ? activeCity._id : null %>');
        setActiveUnit('<%= activeUnit ? activeUnit._id : null %>');
    </script>
</body>
</html>
