<%
    let currentTurnPlayerId = '' + players[game.nextPlayer]._id;

    let canEndTurnNow = true;

    let currentTurnUnits = units.filter(unit => {
        return unit.player == currentTurnPlayerId;
    });

    let currentTurnCities = cities.filter(city => {
        if (city.project.category == null) {
            canEndTurnNow = false;
        }
        return city.player == currentTurnPlayerId;
    });

    let rivalUnits = units.filter(unit => {
        return unit.player != currentTurnPlayerId;
    });

    let activeCity = null;

    let activeUnit = currentTurnUnits.filter(unit => {
        let unitNeedsOrders = unit.movesRemaining > 0 && unit.orders == null;
        if (unitNeedsOrders) {
            canEndTurnNow = false;
            return true;
        }
        return false;
    })[0];

    let map = [];

    let mapCenter = currentTurnUnits[0].location;

    let unitsById = [];

    units.forEach(unit => {
        unitsById[unit._id] = unit;
    });
%>

<% include ./variables %>

<!DOCTYPE html>
<html>
<head>
    <title>Civilization</title>

    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="/stylesheets/map.css"/>

    <script src="/vendor/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/game.js"></script>
</head>
<body>
    <div id="game-header">
        <% include ./header %>
    </div>
    <div id="game-sidebar">
        <% include ./sidebar %>
    </div>
    <div id="game-map">
        <% include ./map %>
    </div>

    <script>
        let rowRadius = 6;
        let colRadius = 10;

        let units = [];
        let cities = [];
        let tiles = [];

        <% units.forEach(unit => { %>
            units['<%= unit._id %>'] = {
                name: '<%= unit.unitType.name %>',
                location: [<%= unit.location[0] %>, <%= unit.location[1] %>],
            };
        <% }); %>

        <% cities.forEach(city => { %>
            cities['<%= city._id %>'] = {
                location: [<%= city.location[0] %>, <%= city.location[1] %>],
            };
        <% }); %>

        <% for (let r = 0; r < map.length; r++) { %>
            tiles[<%= r %>] = [];
            <% for (let c = 0; c < map[r].length; c++) { %>
                tiles[<%= r %>].push({
                    food: <%= map[r][c].tile.food %>,
                    gold: <%= map[r][c].tile.gold %>,
                });
            <% } %>
        <% } %>

        let mapCenter = [<%= mapCenter[0] %>, <%= mapCenter[1] %>];
        let numRows = <%= game.mapSize[0] %>;
        let numCols = <%= game.mapSize[1] %>;

        setupActiveUnitSelection();
        setActiveCity('<%= activeCity ? activeCity._id : null %>');
        setActiveUnit('<%= activeUnit ? activeUnit._id : null %>');
    </script>
</body>
</html>
