<div id="map">
    <table>
        <% map.forEach((row, r) => { %>
            <tr class="map-row" row="<%= r %>">
                <% for (let boardnum = 0; boardnum < 3; boardnum++) { %>
                    <% row.forEach((cell, c) => { %>
                        <%
                            let className = 'map-cell boardnum-' + boardnum;
                            if (boardnum != 1) {
                                className += ' off-screen';
                            }
                            if (cell.player) {
                                className += ' player' + cell.player;
                            }
                            if (cell.lit || cell.owned) {
                                className += ' lit';
                            } else if (cell.discovered) {
                                className += ' discovered';
                            } else {
                                className += ' dark';
                            }
                        %>
                        <td class="<%= className %>" row="<%= r %>" column="<%= c %>">
                            <% if (cell.city) { %>
                                &#9733;
                            <% } %>
                            <% if (cell.unit) { %>
                                <span class="unit turn" unit-id="<%= cell.unitId %>">**</span>
                            <% } else if (cell.rivalUnit) { %>
                                <span class="unit rival" unit-id="<%= cell.unitId %>">*</span>
                            <% } else { %>
                                <% cell.moves.forEach(move => { %>
                                    <form action="<%= move.path %>" method="post" class="move-unit"
                                        unit-id="<%= move.unitId %>">
                                        <button type="submit"> </button>
                                    </form>
                                <% }); %>
                            <% } %>
                        </td>
                    <% }); %>
                <% } %>
            </tr>
        <% }); %>
    </table>
</div>
