<%
    let tile = cell.tile;

    let tileStack = [];

    let className = 'map-cell boardnum-' + boardnum;

    tileStack.push('terrain');
    tileStack.push('territory');
    tileStack.push('improvement');

    if (tile.improvement) {
        className += ' ' + tile.improvement.split(' ').join('-');
    }

    if (cell.myCity || cell.rivalCity) {
        tileStack.push('city');
    }

    if (boardnum != 1) {
        className += ' off-screen';
    }
    if (cell.player) {
        className += ' player' + cell.player;
    }
    if (cell.lit || cell.owned) {
        className += ' lit';
    } else if (cell.discovered) {
        className += ' discovered';
    } else {
        className += ' dark';
    }

    let food = tile.food;
    let gold = tile.gold;

    if (tile.improvement == 'farm') {
        food += 1;
    }

    let unitName = null;

    if (cell.myUnit || cell.rivalUnit) {
        let unit = unitsById[cell.unitId];
        unitName = unit.unitType.name;
        tileStack.push('unit unit-' + unitName);
    }

    tileStack.push('darkness');
%>

<div class="<%= className %>" row="<%= r %>" column="<%= c %>"
        food="<%= food %>" gold="<%= gold %>">

    <% tileStack.forEach(layer => { %>
        <div class="tile-stack layer-<%= layer %>"> </div>
    <% }); %>



    <% if (cell.myUnit || cell.rivalUnit) { %>
        <%
            let unitClass = 'unit ' + (cell.myUnit ? 'turn' : 'rival');
            let unit = unitsById[cell.unitId];
            let unitImage = unit.unitType.name;
            if (cell.myCity || cell.rivalCity) {
                unitClass += ' in-city';
            }
        %>
        <% if (cell.myCity || cell.rivalCity) { %>
            <div class="in-city">
        <% } %>
        <div class="<%= unitClass %>" unit-id="<%= cell.unitId %>">
            <img src="/images/units/<%= unitImage %>.png">
        </div>
        <% if (cell.myCity || cell.rivalCity) { %>
            </div>
        <% } %>
    <% } else if (cell.myCity || cell.rivalCity) { %>
        <%
            let cityClass = 'map-city ' + (cell.myCity ? 'turn' : 'rival');
        %>
        <div class="<%= cityClass %>" city-id="<%= cell.cityId %>">
        </div>
    <% } else { %>
        <% cell.moves.forEach(move => { %>
            <form action="<%= move.path %>" method="post"
                class="move-unit <%= move.direction %>"
                unit-id="<%= move.unitId %>"
                onClick="$(this).submit()">
            </form>
        <% }); %>
    <% } %>
</div>
