<%
    let tile = cell.tile;

    let tileStack = [];

    let food = tile.food;
    let gold = tile.gold;

    let clickable = false;
    let onClick = null;

    let className = 'map-cell boardnum-' + boardnum;

    if (boardnum != 1) {
        className += ' off-screen';
    }

    if (cell.lit || cell.owned || cell.discovered) {

        tileStack.push('terrain');

        if (cell.player) {
            className += ' player' + cell.player;
            tileStack.push('territory territory-' + cell.player);
        }

        if (tile.improvement) {
            let improvementName = tile.improvement.split(' ').join('-');
            className += ' ' + improvementName;
            tileStack.push('improvement improvement-' + improvementName);

            if (improvementName == 'farm') {
                food += 1;
            }
        }

        if (cell.myCity || cell.myUnit) {
            tileStack.push('highlight');
            clickable = true;
        }

        if (cell.myCity || cell.rivalCity) {
            tileStack.push('city');
        }

        if (cell.myUnit || cell.rivalUnit) {
            let unit = unitsById[cell.unitId];
            let unitName = unit.unitType.name;
            tileStack.push('unit unit-' + unitName);
        }

        if (!cell.lit) {
            tileStack.push('fog');
        }

        if (clickable) {
            className += ' clickable';
            onClick = 'clickMapCell(' + r + ', ' + c + ')';
        }
    } else {
        className += ' notDiscovered';
    }
%>

<div class="<%= className %>" row="<%= r %>" column="<%= c %>"
        onMouseover="hoverMapCell(<%= r %>, <%= c %>)"
        onClick="<%= onClick %>">

    <% tileStack.forEach(layer => { %>
        <div class="tile-stack layer-<%= layer %>"> </div>
    <% }); %>

    <% if (cell.myUnit || cell.rivalUnit) { %>
        <%
            let unitClass = 'unit ' + (cell.myUnit ? 'turn' : 'rival');
            let unit = unitsById[cell.unitId];
            let unitImage = unit.unitType.name;
            if (cell.myCity || cell.rivalCity) {
                unitClass += ' in-city';
            }
        %>
        <div class="<%= unitClass %>" unit-id="<%= cell.unitId %>">
            <img src="/images/units/<%= unitImage %>.png">
        </div>
    <% } else if (cell.myCity || cell.rivalCity) { %>
        <%
            let cityClass = 'map-city ' + (cell.myCity ? 'turn' : 'rival');
        %>
        <div class="<%= cityClass %>" city-id="<%= cell.cityId %>">
        </div>
    <% } else { %>
        <% cell.moves.forEach(move => { %>
            <form action="<%= move.path %>" method="post"
                class="move-unit <%= move.direction %>"
                unit-id="<%= move.unitId %>"
                onClick="$(this).submit()">
            </form>
        <% }); %>
    <% } %>
</div>
