
<div class="info">
    <form id="end-turn" action="/endTurn" method="POST">
        <% if (canEndTurnNow) { %>
            <button type="submit">end turn</button>
        <% } else { %>
            <button type="submit" disabled="true">end turn</button>
        <% } %>
    </form>
</div>

<div class="info">
    <h2>Players</h2>
    <ul>
        <% players.forEach((player, i) => { %>
            <li>
                <%= player.name %>
                <% if (game.nextPlayer === i) { %>
                    (TURN)
                <% }%>
            </li>
        <% }); %>
    </ul>
</div>

<div class="info">
    <% currentTurnUnits.forEach(unit => { %>
        <%
            let className = 'unit-roster';
            if (unit.movesRemaining == 0 || unit.orders) {
                className += ' done';
            }
        %>
        <div class="<%= className %>" onClick="setActiveUnit('<%= unit._id %>')">
            <%= unit.unitType.name %>
            <br/>
            <%= unit.movesRemaining %> moves remaining
        </div>
    <% }); %>
</div>

<% currentTurnCities.forEach(city => { %>
    <% include ./cityScreen %>
<% }); %>

<% currentTurnUnits.forEach(unit => { %>
    <%
        let type = unit.unitType.name;
        let disableActions = unit.movesRemaining == 0 ? 'disabled="true"' : '';
    %>
    <div class="info unit" unit-id="<%= unit._id %>">
        <div class="close">X</div>
        <div>
            <b>type:</b>
            <%= unit.unitType.name %>
        </div>
        <div>
            <b>moves:</b>
            <%= unit.movesRemaining %>
        </div>
        <div>
            <b>orders:</b>
            <% if (unit.orders) { %>
                <%= unit.orders %>
            <% } else { %>
                NONE
            <% } %>
        </div>
        <div>
            <b>actions:</b>
            <% if (type == 'settler') { %>
                <form action="/foundCity/<%= unit._id %>" method="post">
                    <button <%= disableActions %>>found city</button>
                </form>
            <% } else if (type == 'worker') { %>
                <form action="/unitOrders/<%= unit._id %>/buildFarm" method="post">
                    <button <%= disableActions %>>build farm</button>
                </form>
            <% } %>
            <% if (unit.movesRemaining) { %>
                <form action="/unitOrders/<%= unit._id %>/skipTurn" method="post">
                    <button <%= disableActions %>>skip turn</button>
                </form>
            <% } %>
            <% if (unit.orders == 'sleep') { %>
                <form action="/unitOrders/<%= unit._id %>/wake" method="post">
                    <button>wake</button>
                </form>
            <% } else { %>
                <form action="/unitOrders/<%= unit._id %>/sleep" method="post">
                    <button>sleep</button>
                </form>
            <% } %>
        </div>
    </div>
<% }); %>
