
<h1>Civilization</h1>

<div class="info">
    <form id="end-turn" action="/endTurn" method="POST">
        <button type="submit">end turn for <%= players[game.nextPlayer].name %></button>
    </form>
</div>

<div class="info">
    <%= game.name %>
</div>

<div class="info">
    Turn: <%= game.turn %>
</div>

<div class="info">
    <h2>Players</h2>
    <ul>
        <% players.forEach((player, i) => { %>
            <li>
                <%= player.name %>
                <% if (game.nextPlayer === i) { %>
                    (TURN)
                <% }%>
            </li>
        <% }); %>
    </ul>
</div>

<div class="info">
    <%
        let currentGold = players[game.nextPlayer].gold;
        let income = goldPerTurn[players[game.nextPlayer]._id];
    %>
    Gold: <%= currentGold %>
    (<%= (income < 0 ? '-' : '+') + income %>)
</div>

<div class="info">
    <% currentTurnUnits.forEach(unit => { %>
        <p onClick="setActiveUnit('<%= unit._id %>')">
            <%= unit.unitType.name %>
            <br/>
            <%= unit.movesRemaining %> moves remaining
        </p>
    <% }); %>
</div>

<div class="info">
    <a href="/exitGame">load different game</a>
</div>

<% currentTurnCities.forEach(city => { %>
    <%
    %>
    <div class="info city" city-id="<%= city._id %>">
        <div class="close">X</div>
        <div>city</div>
        <div>
            buildings:
            <ul>
                <% city.buildings.forEach(i => { %>
                    <li><%= buildingTypes[i].name %></li>
                <% }); %>
            </ul>
        </div>
        <div>
            current construction:
            ______
        </div>
        <div>
            change construction:
            <ul>
                <% unitTypes.forEach(unitType => { %>
                    <li><%= unitType.name %></li>
                <% }); %>
                <% buildingTypes.forEach(buildingType => { %>
                    <li><%= buildingType.name %></li>
                <% }); %>
            </ul>
        </div>
    </div>
<% }); %>

<% currentTurnUnits.forEach(unit => { %>
    <%
        let type = unit.unitType.name;
        let disableButton = unit.movesRemaining == 0 ? 'disabled="true"' : '';
        let foundCity = type == 'settler';
    %>
    <div class="info unit" unit-id="<%= unit._id %>">
        <div class="close">X</div>
        <div>
            <b>type:</b>
            <%= unit.unitType.name %>
        </div>
        <div>
            <b>moves:</b>
            <%= unit.movesRemaining %>
        </div>
        <div>
            <b>actions:</b>
            <% if (foundCity) { %>
                <form action="/foundCity/<%= unit._id %>" method="post">
                    <button <%= disableButton %>>found city</button>
                </form>
            <% } %>
        </div>
    </div>
<% }); %>
