
<div class="info">
    <form id="end-turn" action="/endTurn" method="POST">
        <% if (canEndTurnNow) { %>
            <button type="submit">end turn</button>
        <% } else { %>
            <button type="submit" disabled="true">end turn</button>
        <% } %>
    </form>
</div>

<div class="info">
    <% currentTurnUnits.forEach(unit => { %>
        <%
            let className = 'unit-roster';
            if (unit.movesRemaining == 0 || unit.orders) {
                className += ' done';
            }

            let tile = helpers.findTile(tiles, unit.location);
            let projectTurns = 0;

            if (unit.orders == 'build farm') {
                projectTurns = 10;
            } else if (unit.orders == 'chop forest') {
                projectTurns = 5;
            }

            if (projectTurns) {
                projectTurns -= tile.progress;
                projectTurns = Math.ceil(projectTurns / 2);
            }
        %>
        <div class="<%= className %>" onClick="setActiveUnit('<%= unit._id %>')">
            <%= unit.unitType.name %>
            <br/>
            <%= unit.movesRemaining %> moves remaining
            <% if (unit.orders) { %>
                <br/>
                <%= unit.orders %>
                <% if (projectTurns) { %>
                    (<%= projectTurns %>)
                <% } %>
            <% } %>
        </div>
    <% }); %>
</div>

<% currentTurnUnits.forEach(unit => { %>
    <% include ./unitScreen %>
<% }); %>

<div class="info tile">
    tiles
</div>
