<%
    const growthRate = [0, 15, 22, 30, 40, 51, 63, 76, 90, 105, 121, 138, 155, 174, 194, 214, 235,
        258, 280, 304, 329, 354, 380, 407, 435, 464, 493, 523, 554, 585, 617, 650, 684, 719, 754,
        790, 826, 863, 901, 940, 979];

    let foodNeededForGrowth = growthRate[city.population];

    let foodSurplusPerTurn = city.production.food - (city.population * 2);

    let tilesWorked = tiles.filter(tile => {
        return '' + tile.worked == '' + city._id;
    });

    let growthTurns = 0;

    if (foodSurplusPerTurn > 0) {
        growthTurns = Math.ceil((foodNeededForGrowth - city.storage.food) / foodSurplusPerTurn);
    }

    let currentProject = '_______';
    let laborTotal = 0;
    let progress = 0;
    let turnsToFinish = 0;
    let project = city.project.category;
    let extraGoldFromLabor = 0;

    if (project == 'unit' || project == 'building') {
        if (project == 'unit') {
            currentProject = unitList[city.project.index].name;
            laborTotal = unitList[city.project.index].laborCost;
        } else if (project == 'building') {
            currentProject = buildingList[city.project.index].name;
            laborTotal = buildingList[city.project.index].laborCost;
        }
        progress = city.projectProgress[city.project.category][city.project.index];
        progress += city.storage.labor;
        turnsToFinish = (laborTotal - progress) / city.production.labor;
        turnsToFinish = Math.ceil(turnsToFinish);
    } else if (project == 'gold') {
        currentProject = 'gold';
        extraGoldFromLabor = Math.floor(city.production.labor / 2);
    }
%>

<div class="view-city view-city-top" city-id="<%= city._id %>">
    <h1>CITY TITLE</h1>
</div>

<div class="view-city view-city-left info-box" city-id="<%= city._id %>">
    <div class="section">
        population: <%= city.population %><br/>
        (<%= city.storage.food %> / <%= foodNeededForGrowth %>)<br/>
        <% if (growthTurns) { %>
            <%= growthTurns %> turns
        <% } else { %>
            no growth
        <% } %>
    </div>

    <div class="section">
        <h3>Production:</h3>
        <table>
            <% ['gold', 'food', 'labor', 'culture', 'science'].forEach(prod => { %>
                <tr>
                    <td>
                        <img src="/images/<%= prod %>.png" class="production-icon">
                        <%= prod %>
                    </td>
                    <td>
                        <%= city.production[prod] %>
                        <% if (prod == 'food') { %>
                            (<%= foodSurplusPerTurn %> surplus)
                        <% } %>
                    </td>
                </tr>
            <% }); %>
        </table>
    </div>

    <div class="section">
        Citizens:
        <ul>
            <li>
                <%= tilesWorked.length - 1 %> working
            </li>
            <li>
                <%= city.population - tilesWorked.length + 1 %> unemployed
            </li>
        </ul>
    </div>
    <div class="section">
        current project:<br/>
        <% if (project == 'gold') { %>
            gold <br/>
            (<%= extraGoldFromLabor %> per turn)
        <% } else { %>
            <%= currentProject %>
            <% if (laborTotal) { %>
                (<%= progress %> / <%= laborTotal %>)
                <br/>
                <%= turnsToFinish %> turns to finish
            <% } %>
        <% } %>
    </div>
    <div class="section">
        change construction:
        <ul>
            <% unitList.forEach((unitType, i) => { %>
                <%
                    if (city.population == 1 && unitType.name == 'settler') {
                        return;
                    }
                    let path = '/changeProject/' + city._id + '/unit/' + i;
                %>
                <li>
                    <a href="<%= path %>"><%= unitType.name %></a>
                </li>
            <% }); %>
            <% buildingList.forEach((buildingType, i) => { %>
                <%
                    if (city.buildings.indexOf(i) >= 0) {
                        return;
                    }
                    let path = '/changeProject/' + city._id + '/building/' + i;
                %>
                <li>
                    <a href="<%= path %>"><%= buildingType.name %></a>
                </li>
            <% }); %>
            <li>
                <a href="/changeProject/<%= city._id %>/gold/0">gold</a>
            </li>
        </ul>
    </div>
</div>

<div class="view-city view-city-right info-box" city-id="<%= city._id %>">
    <div>
        buildings:
        <% city.buildings.forEach(i => { %>
            <div class="city-building-list">
                <img src="/images/buildingIcons/<%= buildingList[i].name %>.png" class="project-logo">
                <div class="descr">
                    <h3><%= buildingList[i].name %></h3>
                    <% if (buildingList[i].production.gold != 0) { %>
                        <div class="production">
                            <%= buildingList[i].production.gold %>
                            <img src="/images/gold.png" class="production-icon">
                        </div>
                    <% } %>
                    <% if (buildingList[i].production.food != 0) { %>
                        <div class="production">
                            <%= buildingList[i].production.food %>
                            <img src="/images/food.png" class="production-icon">
                        </div>
                    <% } %>
                    <% if (buildingList[i].production.labor != 0) { %>
                        <div class="production">
                            <%= buildingList[i].production.labor %>
                            <img src="/images/labor.png" class="production-icon">
                        </div>
                    <% } %>
                    <% if (buildingList[i].name == 'workshop') { %>
                        <div class="production large">
                            10%
                            <img src="/images/labor.png" class="production-icon">
                        </div>
                    <% } %>
                    <% if (buildingList[i].production.culture != 0) { %>
                        <div class="production">
                            <%= buildingList[i].production.culture %>
                            <img src="/images/culture.png" class="production-icon">
                        </div>
                    <% } %>
                    <% if (buildingList[i].production.science != 0) { %>
                        <div class="production">
                            <%= buildingList[i].production.science %>
                            <img src="/images/science.png" class="production-icon">
                        </div>
                    <% } %>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<div class="view-city view-city-bottom" city-id="<%= city._id %>">
    <button class="close">Close [esc]</button>
</div>
