<%
    const unitType = unit.unitType.name;
    const movesRemaining = unit.movesRemaining > 0;
    const noMoves = unit.movesRemaining == 0;
    const tile = findTile(unit.location);
    const inForest = tile.terrain.forest;
    const onHill = tile.terrain.hill;
    const inOwnTerritory = tile.player && '' + tile.player == '' + turnPlayerId;
    const inRivalTerritory = tile.player && '' + tile.player != '' + turnPlayerId;
    const inCity = tile.improvement == 'city';

    const playerHasTech = (techName) => {
        return currentPlayer.technologies.filter(techIndex => {
            return technologyList[techIndex].name == techName;
        }).length > 0;
    };

    const actions = [];

    if (unitType == 'settler') {
        actions.push({
            path: '/foundCity/' + unit._id,
            disabled: noMoves || inRivalTerritory || inCity,
            text: 'found city',
        });
    } else if (unitType == 'worker') {
        actions.push({
            path: '/unitOrders/automate/' + unit._id,
            hidden: unit.orders == 'automate',
            text: 'automate',
        });
        actions.push({
            path: '/unitOrders/buildRoad/' + unit._id,
            hidden: unit.orders == 'build road' || tile.road,
            text: 'build road',
        });
        actions.push({
            path: '/unitOrders/buildFarm/' + unit._id,
            hidden: inCity || unit.orders == 'build farm' || tile.improvement == 'farm',
            disabled: inForest || !inOwnTerritory || !playerHasTech('agriculture') || tile.improvement,
            text: 'build farm',
        });
        actions.push({
            path: '/unitOrders/buildMine/' + unit._id,
            hidden: inCity || unit.orders == 'build mine' || tile.improvement == 'mine' || !onHill,
            disabled: inForest || !inOwnTerritory || !playerHasTech('mining') || tile.improvement,
            text: 'build mine',
        });
        actions.push({
            path: '/unitOrders/chopForest/' + unit._id,
            hidden: !inForest || unit.orders == 'chop forest',
            disabled: inRivalTerritory || !playerHasTech('bronze working'),
            text: 'chop forest',
        });
        if (tile.improvement && !inCity) {
            actions.push({
                path: '/unitOrders/removeImprovement/' + unit._id,
                disabled: !inOwnTerritory,
                text: 'remove ' + tile.improvement,
            });
        }
    }

    if (movesRemaining) {
        actions.push({
            path: '/unitOrders/skipTurn/' + unit._id,
            text: 'skip turn',
            class: 'unit-skip-turn',
        });
    }

    if (unit.orders) {
        actions.push({
            path: '/unitOrders/cancel/' + unit._id,
            hidden: unit.orders == 'sleep' || unit.orders == 'skip turn',
            text: 'cancel',
        });
    }

    if (unit.orders == 'sleep') {
        actions.push({
            path: '/unitOrders/wake/' + unit._id,
            text: 'wake',
        });
    } else {
        actions.push({
            path: '/unitOrders/sleep/' + unit._id,
            text: 'sleep',
        });
    }
%>

<div class="view-unit info-box" unit-id="<%= unit._id %>">
    <div class="close">X</div>
    <div>
        <b>type:</b>
        <%= unit.unitType.name %>
    </div>
    <div>
        <b>moves:</b>
        <%= unit.movesRemaining %>
    </div>
    <div>
        <b>orders:</b>
        <% if (unit.orders) { %>
            <%= unit.orders %>
        <% } else { %>
            NONE
        <% } %>
    </div>

    <div>
        <b>actions:</b>

        <% actions.forEach(action => { %>
            <%
                if (action.hidden) {
                    return;
                }
            %>
            <% if (action.class) { %>
                <form action="<%= action.path %>" method="post" class="<%= action.class %>">
            <% } else { %>
                <form action="<%= action.path %>" method="post">
            <% } %>
                <% if (action.disabled) { %>
                    <button disabled="disabled"><%= action.text %></button>
                <% } else { %>
                    <button type="submit"><%= action.text %></button>
                <% } %>
            </form>
        <% }); %>
    </div>
</div>
