<div class="view-unit info-box" unit-id="<%= unit._id %>">
  <div class="close">X</div>
  <div>
    <b>type:</b>
    <%= unit.templateName %>
  </div>
  <div>
    <b>moves:</b>
    <%= unit.movesRemaining %>
  </div>
  <div>
    <b>orders:</b>
    <span class="show-current-orders"><%= unit.orders || 'NONE' %></span>
  </div>
  <div>
    <b>actions:</b>
    <div class="action-buttons"></div>
  </div>
</div>

<script>
  loadUnitActionButtons('<%= unit._id %>');
</script>
